@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: -apple-system, 'PingFang SC', 'Microsoft YaHei', sans-serif;
  }
}

/* TipTap 编辑器样式 */
.ProseMirror {
  outline: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.prose {
  line-height: 2;
  font-size: 16px;
  color: #2c2520;
}
